pre.spectec {
    position: relative;
    overflow-x: auto;
}

pre.spectec > code {
    display: block;
    padding: 1rem;
}

/* Catppuccin Latte */
.light pre.spectec code,
.rust pre.spectec code { color: #4c4f69; }

/* Catppuccin Mocha */
.coal pre.spectec code,
.navy pre.spectec code,
.ayu pre.spectec code { color: #cdd6f4; }
